<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dotNet Flix</title> 
    <script>
    $(document).ready(function(){
        $('#reset').click(function(){                
            window.location.replace("/trip/dashboard");
        })
    })
</script>
</head>
<body>
    <div class='wrapper'>
            <div class='container-fluid' style='margin: 0px; padding-top: 10px;'>
                <div class="row">
                    <div class="col-6">
                    <h2 class='heading_text'>Hello {{request.session.fname}} Create a trip!</h2>
                    </div>
                    <div class='col-3'></div>
                    <div class="col-2" style= 'padding-top: 25px;'>
                       <a href="/logout">Logout</a>
                    </div>                   
                </div>
                <div class='row'>
                    <div class='col-12'>
                      {{request.session.derp}}
                    </div>
                </div> 
                
                
                <div class='row'>
                    <div class='col'>
                    <h3 style="margin-top: 25px;">Add an Upcoming Event</h3>                    
                    </div>
                </div>
                <div class='row'>                    
                    <div class='col-4' style="margin-left: 15px;">
                        <form action="/trip/add_trip" method='post'style="border: 2px solid black; height: 400px;">
                            {%csrf_token%}
                            <div class="form-group row">                                                                              
                            <label for="add_dest" class='col-4 col-form-label entry'>Dest:</label>                           
                            <input type="text" class="form-control-sm col-7 entry form_field" id="add_dest" name='dest'required value = {{request.session.x.dest}}  >
                        </div>
                        <div class="form-group row" >
                            <label for="add_start"class='col-4 col-form-label entry'>Start Date:</label>
                            <input type='date' class="form-control-sm col-7 entry form_field" id='add_start' name='start' required value = {{request.session.x.start}}>
                        </div>
                        <div class="form-group row" >
                            <label for="add_end"class='col-4 col-form-label entry'>Start Date:</label>
                            <input type='date' class="form-control-sm col-7 entry form_field" id='add_end' name='end' required value = {{request.session.x.end}}>
                        </div>
                        <div class="form-group row">
                            <label for="add-plan" class='col-4 col-form-label entry'>Plan:</label>
                            <input type="textarea" class="col-7 entry form_field" id="add_plan" name='plan' style='height: 150px;' required value = {{request.session.x.plan}}>
                        </div>                      
                        <div class="form-group row justify-content-center">
                            <button style="width:150px; box-shadow: 2px 2px black; margin-left: 125px;" type='reset'id = 'reset'>Cancel</button>
                            <button style="width:150px; box-shadow: 2px 2px black; margin-left: 10px;" type='submit' id="send_it">Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
               
            </div>
    </div>
       
    
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>